# Force rebuild for native modules
node-linker=hoisted
build-from-source=true
# Specific for lightningcss
lightningcss_binary_host_mirror=https://github.com/parcel-bundler/lightningcss/releases/download